<div fxLayout="column" fxFill>
  <div fxFlex></div>
  <div
    class="wrapper"
    fxLayout="column"
    fxFlexAlign="center"
    fxLayoutAlign="center center"
  >
    <div class="stmt-wrapper">
      <h1 class="mat-display-3">
        <span class="text-accent">Clarity </span>
        <span class="text-thin">with xlear</span>
      </h1>
      <h2 fxLayout="row" fxLayoutGap="10px" class="mat-headline">
        <span>
          <a routerLink="/design">Secure</a>
        </span>
        <span class="text-accent">+</span>
        <span>
          <a routerLink="/design">Accurate</a>
        </span>
      </h2>
    </div>
  </div>
  <div fxFlex></div>
</div>
