<div fxFill fxLayout="column">
  <header fxLayout="row" fxLayoutGap="10px">
    <button mat-icon-button routerLink="/" class="logo-btn">
      <mat-icon svgIcon="logo"></mat-icon>
    </button>
    <span fxFlex></span>
    <button routerLink="/register" mat-button>Sign Up</button>
    <button routerLink="/login" mat-button>Log In</button>
  </header>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <footer fxLayout="column" fxLayoutAlign="center start">
    <div fxLayout="row" fxLayoutGap="10px">
      <a routerLink="/terms">Terms</a>
      <span>&</span>
      <a routerLink="/privacy">Privacy and Security</a>
    </div>
  </footer>
</div>
